block variables
	title Chat | Let's Chat
extends layout

block logout
	a(href='/users/logout') Logout

block content
	div.chat
		div#chat-messages

		div#chat-area
			.chat-status
				| Status: 
				span Idle
			textarea#chat-textarea(placeholder='Type your message', rows='1', cols='50')
			input#send(type='button', value='send')
      
block scripts
	script(src='../js/chat.js', type='text/javascript')
	script(src='http://localhost:3700/socket.io/socket.io.js')
