block variables
	title Chat | Let's Chat
extends layout

block content
	div.chat
		div#name
			input#chat-name(type='text', placeholder='Enter Your Name')
		div#chat-messages

		div#chat-area
			textarea#chat-textarea(placeholder='Type your message', rows='1', cols='50')
			input#send(type='button', value='send')
			.chat-status
				| Status: 
				span Idle
      
block scripts
	script(src='../js/chat.js', type='text/javascript')
	script(src='http://localhost:3700/socket.io/socket.io.js')
