block variables
    title Chat | Let's Chat
extends layout

block content
    .chat
      input.chat-name(type='text', placeholder='Enter Your Name')
      .chat-messages
      textarea.chat-textarea(placeholder='Type your message')
      .chat-status
        | Status: 
        span Idle

        script.
  var chat = io.connect('http://localhost/chat')
  chat.on('connect', function () {
  chat.emit('hi!');
  });