doctype html
html
  head
    title Let's Chat!
    link(type='text/css', rel='stylesheet', href='../css/style.css')
    link(href='https://fonts.googleapis.com/css?family=Bungee+Inline', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet', type='text/css')
  body#style-1
    header.navbar
      h1
        ul
            li
                a#logo(href='/') Let's Chat!
            li
                a(href='/users/login') Login
            li
                a(href='/users/register') Register
            li
                a(href='/chat') Chat
    block content
    footer.footer
        div
            p.copy &copy; #{new Date().getFullYear()} - CS 3750 Group 4
                span#about 
                    a(href='/') About
