doctype html
html
  head
    title Let's Chat!
    link(type='text/css', rel='stylesheet', href='../css/style.css')
    link(href='https://fonts.googleapis.com/css?family=Bungee', rel='stylesheet', type='text/css')
  body
    header.navbar
      h1
        ul
            li
                a#logo(href='/') Let's Chat!
            li
                a(href='/login') Login
            li
                a(href='/register') Register
            li
                a(href='/create') Chat
  block content