/*------------- Reset browser differences ------------- */

* {
	padding: 0;
	margin: 0;
	font-family: 'Bungee Inline', cursive;
}


/* ------------ Body styles ------------ */

html {
    position: relative;
    min-height: 100%;
}
body {
	height: 100%;
	width: 100%;
	margin-bottom: 70px;
	background: url("../img/bg.png") center no-repeat;
	background-position-x: -1440px;
	background-position-y: -1846px;; 
	background-color: #f0f1f3;
	color:#667073;
	font-family: 'Bungee Inline', cursive;
	font-size: 12pt;
	max-width: 100%;
}


/* --------- Scrollbar styles --------- */

#style-1::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #fff;
}

#style-1::-webkit-scrollbar
{
	width: 14px;
	background-color: #ffffff;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #2d7e5e;
}


/* ------------ Header styles ------------ */

/* ------ Home ------ */

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;  	
	background-color: rgba(51, 51, 51, 0);
}

li a {
	color: white;
	text-decoration: none;
	font-size: 14pt;
	float: right;
	padding-left: 3%;
	padding-top: 4px;
}
li :hover {
	color: #19FF8B;
}
li #logo {
	text-decoration: none;
	color:white;
	float: left;
	font-size: 30pt;
	padding-top: 0px;
	padding-left: 2%;
	line-height: 50px;
}
li #logo:visited {
	color: white;
}
li #logo:hover {
	color: #19FF8B;
}

ul {
	position: fixed;
	top: 10px;
	width: 97%;
    list-style-type: none;
}



/* ------------ Section styles ------------ */

/* ------ Body ------ */


.bodydiv {
	text-align:center;
	margin-top:40px;
}
h2 {
	color: white;
}

.bodydiv #chat {
	color: white;
	/*font-size: 20pt;*/
	margin-top: -20px;
	margin-bottom: 4%;
}
.bodydiv #aa {
	color: white;
	margin-bottom: 30px;
	margin-top: 130px;
	/*font-size: 20pt;*/
}
#nodelogo {
	width: 26%;
	height: 20%;
	margin-bottom: 14px;
}

#join {
	width: 250px;
	height: 100px;
	background-color: #008eff;
	text-align:center;
	display: block;
	margin:0px auto;
	border-radius: 5px;
	text-decoration: none;
	margin-bottom: 6%;
	color: #eeffff;
	box-shadow: 6px 6px 5px rgba(20, 56, 42, 0.7);
}
#join:hover {
	background-color: #0081E4;
}
#join:visited {
	color: #eeffff;
	text-decoration: none;
}
#joinbutton {
	padding-top: 26px;
}
#little {
	font-weight: normal;
	font-size: 10pt;
    line-height: 18px;
}
#big {
	font-weight: bold;
	font-size: 18pt;
	line-height: 32px;
}

.error {
	margin-top: 4%;
	padding: 3%;
	color: black;
}

.info {
	margin: auto;
	padding: 40px;
	height: 20%;
	width: 40%;
	border-radius: 6px;
	box-shadow: 6px 6px 5px rgba(20, 56, 42, 0.5);
	background-color: rgba(246,246,246, 1);
	margin-bottom: 8%;
}
.info p {
	margin: auto;
	color: #0d625f;
	font-family: "Varela Round", sans-serif;
	font-size: 14pt;
	line-height: 40px;
	text-align: left;
}
.info p#getstarted {
	padding-top: 6%;
	font-size: 16pt;
	text-align: center;
}



/* -------- Footer -------- */

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;  	
	background-color: rgba(51, 51, 51, 0);
	color: white;
	font-size: 14pt;
}

.copy {
	padding-left: 2%;
	margin-top: 12px;
}

#about a {
	float: right;
	padding-right: 3%;
	text-decoration: none;
	color: white;
}
#about:visited a {
	color: white;
}
#about :hover {
	color: #19FF8B;
}